ADMIN_PASSWORD=your_admin_password

# Country passwords
PASSWORD_USA=your_password
PASSWORD_CHINA=your_password
PASSWORD_INDIA=your_password
PASSWORD_SAUDI=your_password
PASSWORD_UK=your_password
PASSWORD_GERMANY=your_password
PASSWORD_JAPAN=your_password
PASSWORD_RUSSIA=your_password
PASSWORD_BRAZIL=your_password
PASSWORD_FRANCE=your_password
PASSWORD_UAE=your_password
PASSWORD_AUSTRALIA=your_password
